
form action="/index" method="POST" align="left"



  	div class="row"
     div class="col-md-3" style="background-color:#fcfcfc;"
	      br
	      <ul >
	        <li class="active"><a href="#">Select File</a></li>
	        <li><a href="#"><font color="a2a2a2">step 2</font></a></li>
	        <li><a href="#"><font color="a2a2a2">step 3</font></a></li>
	      </ul>

     div class="col-md-9" style="background-color:white;"
     	br

		